#include <windows.h>

#define APP_VERSION_NUM 2, 0, 5, 0
#define APP_VERSION_STR "2.0.5.0"
#define PRODUCT_NAME "SpinningMomo"
#define FILE_DESCRIPTION "SpinningMomo"
#define COPYRIGHT_INFO "Copyright (c) 2024-2026 ChanIok"
#define AUTHOR_NAME "ChanIok"
#define INTERNAL_NAME "SpinningMomo"
#define ORIGINAL_FILENAME "SpinningMomo.exe"

#define IDI_ICON1 101
IDI_ICON1 ICON "icon.ico"

// 版本信息资源
VS_VERSION_INFO VERSIONINFO
FILEVERSION     APP_VERSION_NUM
PRODUCTVERSION  APP_VERSION_NUM
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // English (United States)
        BEGIN
            VALUE "FileDescription",  FILE_DESCRIPTION
            VALUE "FileVersion",      APP_VERSION_STR
            VALUE "InternalName",     INTERNAL_NAME
            VALUE "LegalCopyright",   COPYRIGHT_INFO
            VALUE "OriginalFilename", ORIGINAL_FILENAME
            VALUE "ProductName",      PRODUCT_NAME
            VALUE "ProductVersion",   APP_VERSION_STR
            VALUE "Author",           AUTHOR_NAME
        END
        BLOCK "080404B0" // Chinese (Simplified, PRC)
        BEGIN
            VALUE "FileDescription",  FILE_DESCRIPTION
            VALUE "FileVersion",      APP_VERSION_STR
            VALUE "InternalName",     INTERNAL_NAME
            VALUE "LegalCopyright",   COPYRIGHT_INFO
            VALUE "OriginalFilename", ORIGINAL_FILENAME
            VALUE "ProductName",      PRODUCT_NAME
            VALUE "ProductVersion",   APP_VERSION_STR
            VALUE "Author",           AUTHOR_NAME
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252, 0x804, 1200 // English (United States), Chinese (Simplified, PRC)
    END
END
